<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->   
        <node name="receive_setpoints" pkg="offboard_set" type="receive_setpoints" output="screen">
        </node>
        <node name="process_setpoints" pkg="offboard_set" type="process_setpoints" output="screen">
        </node>
        <node name="publish_setpoints" pkg="offboard_set" type="publish_setpoints" output="screen">
        </node>
        <node name="status_imitate" pkg="offboard_set" type="status_imitate" output="screen">
        </node>
        <node name="record" pkg="rosbag" type="record" args="record -O /home/cc/rec.bag /mavros/state /offboard/setpoints_raw /offboard/setpoints_local /crop_dist /laser_send"/>
</launch>
